.container_tienda{
    background-color: #ffffff;
    /*background-image: linear-gradient(315deg, #ffffff 30%, #ed8db3 150%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    position: relative;
    color: black;
    user-select: none;
    margin-bottom: 7rem;
}

.whatsapp {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(34,34,34,.418));
    filter: drop-shadow(5px 5px 5px rgba(34,34,34,.418));
}

.logo_tienda {
    width: 40%;
    height: auto;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34,34,34,.418));
    filter: drop-shadow(3px 3px 3px rgba(34,34,34,.418));
}

.wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    height: 4rem;
    background: #39a935;
    box-sizing: content-box;
    /*
    margin-bottom: 3rem;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    */
}

.noticia {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.noticia h3 {
    display: inline-block;
    padding: 0 2rem;
    color: #fff;
}

@keyframes ticker {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

.seleccion {
    width: 50%;
    margin-bottom: 3rem;
    display: none;
}

.titulo {
    font-size: clamp(1.5rem,4vw,2rem);
    margin-bottom: 1.5rem;
    letter-spacing: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #54b851;
    text-shadow: 5px 2px #063;
}

.container_cartas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.carta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: 300px;
    height: 500px;
    margin: 15px;
    color: #fff;
    position: relative;
    flex: 1 0 21%;
}

.precio {
    background-color: #e20615a2;
    border-radius: 5px;
    padding: 10px;
    margin: 1rem;
    width: auto;
    height: 40px;
    position: absolute;
    top: 0;
}

.carta img {
    height: 100%;
    object-fit: cover;
}

.container-informacion {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, -50px);
    transition: 1s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.informacion {
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
}

.informacion h1 {
    padding-bottom: 1rem;
}

.container-informacion:hover{
    opacity: 1;
    transform: translate(0px, 0px);
}

.btn {
    border: 1px solid #428ccc;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    background-color: #428ccc;
}

.btn:hover {
    background-color: #5bc0de;
    border-color: #46b8da;
}

@media screen and (max-width: 960px) {

    .container_tienda {
        padding: 0;
        margin-top: 4rem;
    }

    .logo_tienda {
        width: 80%;
        height: auto;
    }

    .wrapper {
        padding-left: 0;
        width: 100%;
    }

    .titulo {
        margin-bottom: 1rem;
        text-shadow: 3px 2px #063;
    }

    img {
        object-position: 58%;
    }

    .container-informacion {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    .titulo {
        padding: 2rem;
    }

    .cereza {
        width: 8%;
    }

    .whatsapp {
        display: none;
    }
    
    .noticia {
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .seleccion {
        display: none;
    }
}




